body {
    font-family: "Poppins", sans-serif;
    color: #cccccc;
    height: 100vh;
    background-color: #2e2c2c;
  }
  
  a {
    color: #9fc5e7;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
label:empty{
    display: none;
}
li{
  list-style-type: none;
  color: white;
}
dialog{
  border-radius: 14px;
  background: #e8e9eb;
  width: 41%;
  }
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
#userresclose, #catalogclose{
  color: #252020;
}
#show, #close{
  border: 2px solid black;
  color: black;
  font-size: 17px;
  background-color: #b5d0fc;
  margin-bottom: 10px;
  border-radius: 5px;
}
.paginationblock{
  display: flex;
    padding-left: 0;
    justify-content: center;
}
.nobook{
  text-decoration: underline;
    font-size: 25px;
}
.book_table{
  float: left;
  display: block;
  float: left;
  display: block;
  width: 74%;
  margin: 2px;
}
.book_reserv{
  margin: 209px 0 0 85px;
  width: 259px;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.book_name{
  text-align: center;
  padding-right: 16%;
  padding-top: 8px;
  padding-bottom: 38px;
}
.book_description{
  margin-left: 26%;
  text-align: justify;
  width: 50%;
  margin-top: 30px;
}
.book_info, .book_description{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.book_img{
  border-radius: 22px;
  margin-right: 29px;
  width: 240px;
}
.book_ditail {
  margin-top: 30px;
  color: #c7c5c5;
}
.reserv_button{
  border: 2px solid black;
  color: black;
  font-size: 23px;
  background-color: #b5d0fc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px 40px;
}
.login_form{
    background-color: #ebe6e6;
}
.search_form{
  background-color: #2e2c2c;
  /* height: 15%; */
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.search_input{
  width: 25%;
  /* height: 30%; */
}
.search_submit{
  background-color: #529ad5;
  border-radius: 4px;
  padding: 9px;
  height: 40px;
  margin: 5px;
  margin-left: 16px;
}
.genre_description{
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 19px;
  display: flex;
  justify-content: center;
}
.search_div, .userpage{
  margin: 40px 10%;
  padding-top: 18px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}
.list_book_img{
  border-radius: 4px;
  padding: 6px;
  width: 140px;
  margin: 5px 0px;
}
.list_book_li{
  margin-left: 10px;
  /* flex-direction: row; */
  /* padding: 13px; */
  width: 231px;
  box-sizing: 15px;
}
.list_book_li:hover{
  border: 2px solid rgb(66, 74, 80);
  background-color: #9bc0f8;
  box-shadow: 0px 1px 3px 3px #4c4a4a;
}
.navbar{
  justify-content: flex-start;
}
.nav-link{
  color: #9fc5e7;
}
.blockcontent{
    display: flex;
    flex-direction: row;
 }
 .basedir {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.basedir .bgimg {
  width: 100%;
  /* height: auto; */
  filter: blur(3px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 94vh;
  background-color: #2e2c2c;
}

/* Style the button and place it in the middle of the container/image */
.basedir .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(28,28,28,0);
  border: 2px solid black;
  color: black;
  text-shadow: 0 0 0.2em white;
  font-size: 23px;
  padding: 12px 24px;
}

.basedir .btn:hover {
    background-color: #9fc5e7;
}
.infotable{
    filter: blur(0px);
  /* background-position: 50%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 15%;
    padding: 10px 0 0 10px;
  /* min-height: 94vh; */
    background-color: #2e2c2c;
}
.latest_book_p, .list_book_p{
    color: #e5ecf3;
    text-decoration: underline;
    text-align: center;
}
.list_book_p{
  margin-top: 33px;
  font-size: 120%;
}
.latest_book_a{
    text-align: center;
}
.latest_book_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border: 1px solid black;
    border-radius: 10px;
}

.errorlist{
    list-style-type: none;
    width: 89%;
}
.reg_login{
    width:19%;
}
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #353232;
  }
 .authen_p{
  font-size: 25px;
 }
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  .usernamediv{
    margin: 40px;
  }
  .yesnobutton{
    background-color: #252020;
    font-size: 17px;
    color: #c7c5c5;
    margin: 1px;
    padding: 4px 5px 4px 5px;
    border-radius: 7px;
    border: 2px solid #252020;
  }
  .delete_button{
    background-color: #252020;
    font-size: 23px;
    color: #c7c5c5;
    margin: 5px;
    padding: 3px 4px 1px 5px;
    border-radius: 7px;
    border: 2px solid #252020;
  }
  .yesnobutton:hover, .delete_button:hover{
    color: #0d0d0d;
    background-color: #6881a8;
    border: 2px solid #6881a8;
  }
  /* FORM TYPOGRAPHY*/
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  /* input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
   */
  input[type=date]{
    border-radius: 3px;
    margin-right: 11px;
    background-color: #e5efff;
    color: #260b11;
  }
  input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px 0 0;
    width: 85%;
    border: 2px solid #c7c5c5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
  }  
  *:focus {
      outline: none;
  } 
  