
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #2e2c2c;
  }
  
  a {
    color: #9fc5e7;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
label:empty{
    display: none;
}
form{
    background-color: #ebe6e6;
}
.navbar{
  justify-content: flex-start;
}
.nav-link{
  color: #9fc5e7;
}
.blockcontent{
    display: flex;
    flex-direction: row;
 }
 .basedir {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.basedir .bgimg {
  width: 100%;
  /* height: auto; */
  filter: blur(3px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 94vh;
  background-color: #2e2c2c;
}

/* Style the button and place it in the middle of the container/image */
.basedir .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(28,28,28,0);
  border: 2px solid black;
  color: black;
  text-shadow: 0 0 0.2em white;
  font-size: 23px;
  padding: 12px 24px;
}

.basedir .btn:hover {
    background-color: #9fc5e7;
}
.infotable{
    filter: blur(0px);
  /* background-position: 50%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 15%;
    padding: 10px 0 0 10px;
  /* min-height: 94vh; */
    background-color: #2e2c2c;
}
.latest_book_p{
    color: #e5ecf3;
    text-decoration: underline;
    text-align: center;
}
.latest_book_a{
    text-align: center;
}
.latest_book_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border: 1px solid black;
    border-radius: 10px;
}
.errorlist{
    list-style-type: none;
    width: 89%;
}
.reg_login{
    width:19%;
}
.fadeIn.first{
    background-color: #dbd4d4;
    border-radius: 10px 10px 0px 0px;
}
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #353232;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #dbd4d4;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px 0 0;
    width: 85%;
    border: 2px solid #c7c5c5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
  }  
  *:focus {
      outline: none;
  } 
  